body {
    /*font-family: 'Prompt', sans-serif;*/
    /*font-style: normal;*/
    position: relative; 
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: 'Athiti', sans-serif;*/
}

#section1 {padding-top:90px;color: #fff; background-color: #1E88E5;}
#section21 {padding-top:20px;color: #fff; background-color: #673ab7;}
#section22 {padding-top:20px;color: #fff; background-color: #009688;}
#section3 {padding-top:20px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:20px;color: #fff; background-color: #00bcd4;}

h1,h2,h3,h4,h5,h6,a,p,li,th{
    
    position: relative;
    font-family: 'Athiti', sans-serif !important;
    /*font-family: 'Titillium Web', sans-serif;*/
    font-style: normal;

}

/*หัวหน้าแรก*/
.store{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}