<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>3 Ya Flying Club</title>
	<link rel="stylesheet" href="../css/style.css">

  <!-- frame Bulma-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- framework Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!--เรียกไฟล์ app.js-->
	<script src="../js/app.js"></script>
  <!--<script src="../js/burger.js"></script>-->

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Athiti|Kanit|Prompt" rel="stylesheet">

</head>
<script>
</script>
<body ng-controller="PlaneController">
  
  <!--//////////////////// navbar ////////////////////-->
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="../index.html">3 Ya Flying Club.<i class="fa fa-plane" aria-hidden="true"></i></a>
      <div class="navbar-burger burger" data-target="navMenuExample">
        <span></span>
        <span></span>
        <span></span>
      </div><!-- navbar-burger burger -->
    </div><!-- navbar-brand -->

    <div id="navMenuExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item " href="../index.html">หน้าแรก</a>
        <a class="navbar-item " href="#">เลือกสินค้า</a>
        <a class="navbar-item " href="/page/tel.html">ติดต่อเรา</a>
        <a class="navbar-item " href="#">วิธีการชำระเงิน</a>
      </div><!-- navbar-start -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a id="facebook" class="button is-info is-outlined is-fullwidth"
                href="https://www.facebook.com/chumpol.kamjumpol">
                <span class="icon">
                  <i class="fa fa-facebook"></i>
                </span>
                <span>Facebook</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary is-outlined is-fullwidth"
                href="https://www.facebook.com/chumpol.kamjumpol">
                <span class="icon">
                  <i class="fa fa-lock"></i>
                </span>
                <span>Sing in</span>
              </a>
            </p>
          </div><!-- field is-grouped -->
        </div><!-- navbar-item -->
      </div><!-- navbar-end -->
    </div><!-- navbar-menu -->

  </nav>
  <!--//////////////////// navbar ////////////////////-->

  <!--//////////////////// tab ////////////////////-->
  <!--<section class="hero is-small is-bold">-->
  <div class="tabs is-centered">
    <ul>
      <li ng-click="type = 'Helicopter'"><a>เฮริคอปเตอร์บังคับ</a></li>
      <li ng-click="type = 'Drone'"><a>โดรน</a></li>
      <button id="myBtn">Open Modal</button>
    </ul>
  </div>
  <!--</section>-->
  <!--//////////////////// tab ////////////////////-->
  
  <!--//////////////////// สินค้า ////////////////////-->

  <section class="section is-light">
    <div class="container"><center>
      <h1 class="title">รายการสินค้า</h1>
      <h2 class="subtitle"></h2>
      </center>
    <div class="columns">
      <div class="column is-5 is-offset-2">
        <div class="box" ng-repeat="show in product" ng-if="show.type === type">
          <article class="media">
            <figure class="media-left image is-128x128">
              <p class="image is-128x128">
                 <img ng-src="{{show.pic}}">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>ชื่อสินค้า : <br></strong><small>{{show.name}}</small><br>
                  <strong>ชนิด : <br></strong> <small>{{show.type}}</small><br>
                      
                  ราคา : {{show.price}}
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa fa-shopping-cart" ng-click="addlist(show)"></i></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa fa-book" id="myBtn"></i></i></i></span>
                  </a>
                </div>
              </nav>
            </div><!--media-content-->
          </article>
        </div><!--box-->
      </div><!--column is-5 is-offset-2-->
    
      <div class="column is-3">
        <nav class="panel">
          <p class="panel-heading">
            รายการที่เลือก
          </p>
                 
          <li class="panel-block is-active" ng-repeat="sel in list">
            <span class="panel-icon is-medium">
              <a class="fa fa-times-circle" ng-click="deletelist($index)"></a>
            </span>
            ชื่อรายการ : {{sel.name}}<br>
            จำนวน : {{sel.amount}} ราคา : {{sel.price}}
            <br>
            
          </li>

          <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            จำนวนเงินที่ต้องชำระ : {{sum}}
          </a>
          <div class="panel-block">
            <button class="button is-primary is-outlined is-fullwidth">
              สั่งซื้อ
            </button>           
          </div>
        </nav>
      </div><!-- column is-3 -->
    </div><!-- columns -->
   
    </div><!-- container -->
  </section>
  
  <!--//////////////////// สินค้า ////////////////////-->

  <div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <span class="close">&times;</span>
      </header>
      <section class="modal-card-body">
        Hello Test Model
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>

  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>
</body>
</html>
